

<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops!</title>
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosSeCerrada.css">


</head>
<body class="bod">
    <header class="herr">
        <h1 class="nombre1">SistemaVentas|365</h1>
    </header>
    <div class="container">
        <div class="oops">Oops!</div>
        <div class="code">001</div>
        <div class="message">Su sesión se ha terminado</div>
        <div class="message">Se recomienda volver a ingresar al Sistema</div>
        <a href="@Url.Action("IniciarSesion","Inicio")" class="btn">Volver al Inicio</a>
       <li>¿Desea reportar algún problema? <a href="#"> Contactanos</a></li> 
    </div>
</body>
</html>