/* Estilo base para la tabla */
.table-futuristic {
    margin: 1rem auto;
    border-collapse: collapse;
    width: 90%;
    background: #f0f0f0;
    text-align: left;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
    overflow: hidden;
}

    /* Estilo para los encabezados de la tabla */
    .table-futuristic thead {
        background: linear-gradient(90deg, #007bff, #6610f2);
        color: white;
    }

    .table-futuristic th,
    .table-futuristic td {
        padding: 0.75rem;
        border-bottom: 1px solid #e3e3e3;
    }

    /* Estilo para las filas de la tabla */
    .table-futuristic tbody tr {
        transition: background-color 0.3s ease;
    }

        .table-futuristic tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table-futuristic tbody tr:hover {
            background-color: #ddd;
        }

/* Estilo para los botones */
.btn-futuristic {
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-futuristic-info {
    background-color: #17a2b8;
    color: white;
}

    .btn-futuristic-info:hover {
        background-color: #138496;
    }

.btn-futuristic-danger {
    background-color: #dc3545;
    color: white;
}

    .btn-futuristic-danger:hover {
        background-color: #c82333;
    }

/* Estilo para los íconos */
.futuristic-icon {
    margin-right: 0.5rem;
}
